{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ encore_entry_link_tags('app') }}

{% endblock %}
{% block title %}Ajouter Film
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('app') }}

{% endblock %}
{% block body %}
<h1 class="display-1 text-center my-2">Ajouter un film</h1>
	<div class="container">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<button type="submit" class="btn btn-lg btn-primary">Ajouter un film</button>
		{{ form_end(form) }}
	</div>
{% endblock %}