{% extends 'base.html.twig' %}


{% block title %}
	{{ film.title }}
{% endblock %}


{% block body %}
	<div class="container">
		<div class="media">
			<img class="align-self-start mr-3" src="{{ vich_uploader_asset(film) }}" alt="{{ film.title }} poster">
			<div class="media-body">
				<h1 class="mt-0">{{ film.title }}</h1>
				
				<p>Synopsis:
					{{ film.synopsis }}</p>
				<p>Catégorie :
					{{ film.category }}</p>
				<p>Année:
					{{ film.year }}</p>
					<p>Réalisateur: 
					<p>{{ film.director.name }}</p>
			</div>
		</div>
		<h2>Acteurs :</h2>
		<ul>
			{% for actor in film.actors %}
				<li>
					<a href="{{ path('actor_show', {'id': actor.id})}}">{{ actor.name}}</a>
				</li>
			{% else %}
				<li>Aucun acteur pour ce film</li>
			{% endfor %}
		</ul>
		<a class="btn btn-secondary mx-3" href="{{ path('film_index') }}">
			Retour à la liste des films
		</a>
		<a class="btn btn-primary" href="{{ path('film_edit', { id: film.id }) }}">
			Modifier film
		</a>
	</div>
{% endblock %}
