<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<a class="navbar-brand text-secondary  mx-2" href="{{ path('index') }}"><img class="rounded-circle" src="{{ asset('build/images/scie.jpg') }}" alt="logo" width="80px" height="80px"></a>
	<button class="navbar-toggler border border-primary p-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<img src="{{ asset('build/images/menu.svg') }}" alt="menu" width="50px">
	</button>

	<div class="collapse navbar-collapse text-center justify-content-end fw-semibold" id="navbarNav">
		<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item">
				<a class="nav-link text-secondary" href="{{ path('film_index') }}">Film</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-secondary" href="{{ path('director_index')}}">Réalisateur</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-secondary" href="{{ path('actor_index')}}">Acteur</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-secondary" href="{{ path('film_new') }}">Ajouter</a>
			</li>
		</ul>
		<form class="form-inline m-3 m-lg-3 d-flex justify-content-between">
			<input class="form-control mr-sm-2" type="search" placeholder="Search">
			<button class="btn btn-outline-secondary my-2 my-sm-0 text-secondary" type="submit">search</button>
		</form>
	</div>
</nav>
