{% extends 'base.html.twig' %}

{% block title %}
	{{ director.name }}
{% endblock %}

{% block body %}
	<div class="director">
		<h1 class="display-1 text-center my-5">{{ director.name }}</h1>
		<div class="container">
			<div class="card-group my-5">
				<div class="card">
					<img class="img-film p-3 d-flex justify-content-center align-items-center" src="{{ vich_uploader_asset(director) }}" alt="{{ director.name }} poster">
				</div>
				<div class="card bg-primary text-secondary p-5">
					<div class="text-card">
						<h3>Biographie</h3>
						<p class="my-3">{{ director.bio }}
						</p>
						<h3 class="my-5">Liste des films</h3>
						<div class="d-flex flex-row align-items-center my-3">
							{% for film in director.films %}
								<img class="img-actor bg-secondary mx-3 rounded-circle" src="{{ vich_uploader_asset(film) }}">
								<a class="text-secondary" href="{{ path('film_show', {'slug': film.slug})}}">{{ film.title}}</a>
							{% else %}
								<p>Aucun film pour ce réalisateur</p>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		{% if app.user %}
			<div class="container">
				<a class="btn btn-outline btn-primary m-2 p-2" href="{{ path('director_edit', {'slug': director.slug}) }}">{% include 'icon/pencil.svg' %}Modifier</a>
				{{ include('director/_delete_form.html.twig') }}
			</div>
		{% endif %}
		<a class="btn btn-outline btn-secondary m-2" href="{{ path('director_index') }}">Retour à la liste des réalisateurs</a>
	{% endblock %}
